<h1>Tell Me About Your Meal</h1>

<%= form_with url: submit_path, local: true do |form| %>

<div class="form-group">
  <%= form.select :proteins_id, @proteins.collect { |p| [ p.name, p.id ]}, {include_blank: "Please select a protein" } %>
</div>

<div class="form-group">
  <%= form.select :sauces_id, @sauces.collect { |s| [ s.name, s.id ]}, {include_blank: "Please select a sauce" } %>
</div>

<button type="button" class="btn btn-default">Submit</button>

<% end %>
